/* Estilo general */
.card-container {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    padding: 20px;
}

.card-header {
    text-align: center;
    color: black;
}

.logo {
    width: 150px;
}

.student-info p {
    margin-bottom: 20px;
    color: black;
}

.text{
    color: black;
}

.tittle{
    color: black;
}

.validation-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: black;
}

.validation-table th, .validation-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.validation-table th {
    background-color: #007bff;
    color: white;
}

.total-label {
    text-align: right;
    font-weight: bold;
}

/* Estilos de texto */
.page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 10px;
}


/* Estilos para el botón enviar */
.btn-enviar {

    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-enviar:hover {
    background-color: #0056b3;
}

.footer{
    color: black;
    text-align: center;
}


/* Estilo para alinear la firma y texto hacia la izquierda */
.firma-container {
    width: 308px;
    display: flex;
    flex-direction: column; /* Cambia a disposición vertical (columna) */
    align-items: center; /* Alinea los elementos a la izquierda */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.firma {
    width: 100px; /* Ajusta el ancho de la firma */
    height: 230px; /* Mantén la proporción */
    display: inline-block; /* Asegura que no rompa el flujo de elementos */
    vertical-align: initial; /* Alinea con texto u otros elementos */
    transform: rotate(90deg); /* Rotación de 90 grados */
    transform-origin: center; /* Define el punto de rotación (centro) */
}

.decano-text {
    font-size: 12px; /* Tamaño del texto */
    color: black; /* Color del texto */
    text-align: left; /* Asegura alineación a la izquierda */
    max-width: 200px; /* Opcional: limita el ancho del texto */
    margin: 0; /* Elimina márgenes adicionales */
}


.subir-container{
    align-items: center;
}
